.storelocator-accesspoints-headerlink-link {
    @media(min-width: $screen-sm-min) {
        min-width: $sc-target-size;
        background-color: $ob-color-secondary;
        text-align: center;
        display: inline;
        color: $sc-color-secondary;
        float: left;
        width: 100%;
        background-color: transparent;
        margin-top: -4px;
        min-width: 0px;
        margin-right: 10px;
    }

    &::before{
        content: url("https://www.alibisecurity.ml/SSP Applications/NetSuite Inc. - SCA Aconcagua/Development/images/headicon_locate.svg");
        position: relative;
        top: 4px;
        left:-2px;
    }

    @media(min-width: $screen-sm-min) {
        float: none;
    }
}


.storelocator-accesspoints-headerlink-link-icon {
    // @extend .icon-map-marker;
    content: url("https://www.alibisecurity.ml/SSP Applications/NetSuite Inc. - SCA Aconcagua/Development/images/headicon_locate.svg");
    color: $sc-color-secondary;
    font-size: 25px;
    position: relative;
    top: 10px;

    @media(max-width: 767px) {

        display: none;
    }

    @media(min-width: $screen-sm-min) {
        float: none;
        font-size: 15px;
        margin-right: $sc-margin-lv1;
        position: static;
    }
}

.storelocator-accesspoints-headerlink-link-text {
    display: block;

    @media(min-width: $screen-md-min) {
        display: inline-block;
    }
}