.product-list-lists-header{
	@include clearfix();
	border-top: 1px solid $sc-color-theme-border-light;
	border-bottom: 1px solid $sc-color-theme-border-light;
	padding-top: $sc-padding-lv3;
	padding-bottom: $sc-padding-lv3;
	background-color: $ob-color-primary;
	@media(min-width: $screen-sm-min){
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

.product-list-lists-title{
	float: left;
	margin-bottom: $sc-margin-lv2;
	color: white;
	font-size: 22px;

	@media (min-width: $screen-sm-min){
		margin-bottom: 0;
		line-height: 45px;
		height: 45px;
		padding-left: 10px;
	}
}

.product-list-lists-button-add{
	@extend .button-medium;
	@extend .button-secondary;
	//float: right;

}

.product-list-lists-button-back {
	@extend .button-back;
}

.product-list-lists-button-back-icon {
	@extend .button-back-icon;
}

.product-list-lists-details{
	@extend .product-list-list-details;
}

.productlist-list-lists{}
.product-list-lists-message{}
.product-list-lists-wrapper{}
.product-list-lists-subtitle{}
.product-list-lists-header-main{
	background-color: white;
}

.product-list-lists-button-add{
	border-radius: 0px;
	background:$ob-color-primary;
	text-transform:uppercase;
	padding: 10px 30px 10px 30px;
	font-weight: 600;
	color: white;
	@media(min-width: $screen-lg-min){
	margin: 15px;
	}
	
	&::before {
		content: url("https://www.alibisecurity.ml/SSP Applications/NetSuite Inc. - SCA Aconcagua/Development/img/plus_button1.png");
		position: relative;
		top: 4px;
		left: -10px;
	}
	&:hover{
		color: white;
	}
	
}
